.country-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5%;
}

.country-card h2 {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
}

.country-card.checked {
  background-color: #b6b6b6;
}

.check-button {
  background-color: #007bff;
  color: #fff;
  width: 70%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.card-bottom button:hover {
  background-color: #0056b3;
}

.check-button.checked {
  background-color: #595959;
  color: #fff;
  width: 70%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
