.country-card {
  border: 1px solid #ccc;
  padding: 20px;
  color: darkgrey;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
}

.country-card h2 {
  width: 100%;
  aspect-ratio: 5/3;
}

.country-card.checked {
  background-color: #00b6795d;
  color: black;
}

.check-button {
  background-color: #5acbff;
  color: #fff;
  width: 70%;
  aspect-ratio: 5;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.card-bottom button:hover {
  background-color: #0056b3;
}

.check-button.checked {
  background-color: #bbbbbb;
  color: #fff;
  width: 70%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
